@{
  Layout = "_Layout";
}

@model BakeryV2.Models.Treat

<h2>Add Flavor</h2>
<hr />

<h4>Add flavor to this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Treat List", "Index")</p>